/* General setup */
/*
Name - Jordy Francis
file - style.css
Date - 2024-02-21
This is the part 3 of assignment 3 where i was given a html and css and i have
*/

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  @font-face {
    font-family: 'Aleo sans-seriff';
    src: url(Aleo-Italic.woff2) format(woff2);
    src: url(Aleo-LightItalic.woff2) format(woff2);
    font-weight: normal;
  }

  @font-face{
    font-family: "Miniya seriff";
    src:url(Minya\ Nouvelle\ Bd.woff2) format(woff2);
    src:url(Minya\ Nouvelle\ Bd\ It.woff2) format(woff2);
    font-weight: normal;
  }
  html{
    font-family:  "Aleo",sans-serif;
    font-size: 10px;
  }

  h1,h2{
    font-family:"Miniya",serif ;
    letter-spacing: 2px;
  }
header,footer{
  border-top:5px solid brown;
  border-bottom: 5px solid brown;
}
