/* General setup */
/*
Name - Jordy Francis
file - style.css
Date - 2024-02-21
This is the part 3 of assignment 3 where i was given a html and css and i have
*/

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  /*
  Adding font using the font face*/
  @font-face {
    font-family: 'Aleo sans-seriff';
    src: url(Aleo-Italic.woff2) format(woff2);
    src: url(Aleo-LightItalic.woff2) format(woff2);
    font-weight: normal;
  }

  @font-face{
    font-family: "Miniya seriff";
    src:url(Minya\ Nouvelle\ Bd.woff2) format(woff2);
    src:url(Minya\ Nouvelle\ Bd\ It.woff2) format(woff2);
    font-weight: normal;
  }
  html{
    font-family:  "Aleo",sans-serif;
    font-size: 10px;
  }
/*
adding fonts to headers*/
  h1,h2{
    font-family:"Miniya",serif ;
    letter-spacing: 2px;
  }
header,footer{
  border-top:5px solid brown;
  border-bottom: 5px solid brown;
}
h1{
  font-size: 2.6rem;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: "Aleo",sans-serif;
}
h2{
  font-size: 2rem;
  letter-spacing: 0.5px;
}
p{
  font-size: 1.4rem;
}

section>h2+p:first-of-type,
section>h1+p:first-of-type{
  text-indent: 20px;
}
ul,
ol{
  font-size: 1.5rem;
}

a{
  font-size: 1.4rem;
  color:brown;
  text-decoration: underline;
  position:relative
}
a[href="http"]{
  padding-right: 19px;
  background:url(external-link-52\ \(1\).png)no-repeat
  100%0;
  background-size: 16px 16px;
}

a:visited{
  color:brown
}
a:focus,a:hover{
  text-decoration: none;
  color:burlywood
}
a:active{
  color:aqua
}

ul,ol{
  margin:1.6rem 0;
}

ul{
  list-style-type: square;
}

ol{
  list-style-type: upper-latin;
}
/*
Creating the navigation bar*/


nav ul{
  padding:0;
  margin:0;
  list-style-type: none;

}
nav li{
  margin-bottom: 10px;
}
nav li:first-child{
  margin-top: 0;
  
}
nav li a{
  text-decoration: none;
  display: block;
  width: 150px;
  padding: 10px;
  color:blue;
  font-size: 1.6rem;
  border:2px solid brown;
  border-radius: 5px;
  transition: all 0.3s ;
  text-align: center;

}
nav li a hover{
  color: white;
  background: white;
}